@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  background-color: #fafbfb;
}

* {
  box-sizing: border-box;
}

