@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #fafbfb;
}

* {
  box-sizing: border-box;
}

.small-resolution {
  display: none;
}

@media (max-width: 768px) {
  form {
    display: none;
  }
  h2 {
    width: auto;
  }
  .small-resolution {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 10px;
  }
}
